<%_ for (const store of stores) { -%>
  <form id="<%= store.id -%>" class="form-inline">
    <input type="text" name="flavor" value="<%= store.flavor -%>" class="form-control form-control-sm m-1">

    <button class="update btn btn-sm btn-primary m-1">Save</button>
    <button class="delete btn btn-sm btn-primary m-1">Delete</button>
  </form>
<%_ } -%>
<button id="insert" class="btn btn-sm btn-primary m-1">New flavor</button>
