<header style="background-color:#1889BA">
    <img src="https://photos.bringfido.com/restaurants/9883/9883_1598.jpg?size=tile&density=2x" class="img-fluid rounded mx-auto d-block" alt="Responsive image" style="height:100%; width: 200%;"  >
    <h1 class="centered">Our Stores</h1>
</header>
