<header style="background-color:#1889BA">
  <div class="container" >
    <img src="https://photos.bringfido.com/restaurants/9883/9883_1598.jpg?size=tile&density=2x" class="img-fluid rounded mx-auto d-block" alt="Responsive image" width="500" height="250">
    <h1 class="centered bg-darks">Our Stores</h1>
    </div>
</header>
