<header style="background-color:#1889BA">
    <img src="https://photos.bringfido.com/restaurants/9883/9883_1598.jpg?size=tile&density=2x" class="img-fluid rounded mx-auto d-block" alt="Responsive image" style="width:100;  height=10%;"  >
    <h1 class="centered" style="position:absolute top: 50%; left: 50% transform: translate(-50%, -50%)">Our Stores</h1>
</header>
