<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>



  $('#create').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/stores', data: form.serialize()})
      .done(id => window.location.replace(`/stores`))
      .fail(error => alert(error.responseText));
  });

  $('#update').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    console.log("HELLO");
    $.ajax({method: 'put', url: '/stores', data: form.serialize()})
      .fail(error => alert(error.responseText));
  });

  $('#delete').on('click', function(event) {
    event.preventDefault();
    $.ajax({method: 'delete', url: '/stores'})
      .done(() => window.location.replace('/stores'))
      .fail(error => alert(error.responseText));
  });

  $('#add_filling').on('click', function(event){
      event.preventDefault();
      console.log("HELLO");
      $('#Fillings').append('<div class="Filling_group"><input type="text" name="flavors" placeholder="" value="" class="form-control form-control-lg font-weight-bold mb-1"></div>')
  });
</script>
