<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  // Highlight changes in form inputs
  $(document).on('input', '.form-control', function(event) {
    $(this).addClass('bg-dark text-white');
  });

  $('.new_store').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/stores', data: form.serialize()})
      .done(id => window.location.replace(`/stores`))
      .fail(error => alert(error.responseText));
  });

  $('.currstore').on('submit', function(event) {
    const form = $(this).closest('form')
    console.log("Hello");
    event.preventDefault();
    $.ajax({method: 'put', url: `/stores/${form.attr("id")}`, data: form.serialize()})
      .done(() => window.location.replace('/stores'))
      .fail(error => alert(error.responseText));
  });

  $('.currstore').on('click','.delete_store', function(event) {
    const form = $(this).closest('form')
    event.preventDefault();
    $.ajax({method: 'delete', url: `/stores/${form.attr("id")}`})
      .done(() => window.location.replace('/stores'))
      .fail(error => alert(error.responseText));
  });

  $('.add_flavor').on('click', function(event) {
    event.preventDefault();
    const x =  $(this).prev().val()
    $(this).closest('form').find('ul').append(`
    <div>
    <li><input readonly class="form-control-plaintext" name="icecream" value=${x}></input> </li>
      <button class="bg-warning mb-3 delete_flav">Delete Flavor</button>
    </div>`)
  });

  $('.delete_flav').on('click', function(event) {
    event.preventDefault();
    $(this).closest('div').remove();

  });

</script>
