<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>



  $('#create').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/stores', data: form.serialize()})
      .done(id => window.location.replace(`/stores`))
      .fail(error => alert(error.responseText));
  });

  $('#update').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'put', url: '/stores', data: form.serialize()})
      .fail(error => alert(error.responseText));
  });

  $('.add_flavor').on('click', function(event){
      event.preventDefault();
      $(this).closest('div').append('<li><input type="text" name="" value=""><button class="bg-warning mb-3 delete_flavor">Delete Flavor</button></li>');

  });

  $('.delete_flavor').on('click', function(event){
      event.preventDefault();
      $(this).closest('li').remove()

  });

  $('#delete').on('click', function(event) {
    event.preventDefault();
    $.ajax({method: 'delete', url: '/stores'})
      .done(() => window.location.replace('/stores'))
      .fail(error => alert(error.responseText));
  });
  $('.delete_store').on('click','button', function(event){
      $(this).closest('main').remove();
    });


</script>
