<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>


  $('#create').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/stores', data: form.serialize()})
      .done(id => window.location.replace(`/stores`))
      .fail(error => alert(error.responseText));
  });

  $('#update').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'put', url: '/stores', data: form.serialize()})
      .fail(error => alert(error.responseText));
  });

  $('#delete').on('click', function(event) {
    event.preventDefault();
    $.ajax({method: 'delete', url: '/stores'})
      .done(() => window.location.replace('/stores'))
      .fail(error => alert(error.responseText));
  });

  $('.add_flavor').on('click', function(event) {
    event.preventDefault();
    $(this).closest('ul').append(`
    <div>
      <li><input type="text" name="falvor" placeholder="chocolate" value=""></li>
      <button class="bg-warning mb-3 delete_flav">Delete Flavor</button>
    </div>`)
  });

  $('.delete_flav').on('click', function(event) {
    event.preventDefault();
    $(this).closest('div').remove();

  });



</script>
