.brand-img img {
      width:40px;
      height:40px;
  }

.icon {
      image: "Sundae_Fundae.jpg";
      height: 40px;
      width: 40px;
      display: block;
      /* Other styles here */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fitscreen{
    height:1%;
    width: 200%;

}



.MINT {
background: #D1FFDA;
}
