<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" id="custom.css">

  <title>Sundae Fundae</title>
</head>
<script>
  const link = document.getElementById('custom.css');
  link.href = 'http://' + location.hostname + ':3000/custom.css';
</script>
