<!DOCTYPE html>
<html>
  <%- include('./head'); -%>
  <body style="background-color:#BAE1FD">
    <%- include('./navbar', {active: 'aboutus'}); -%>
  </body>
  <header>
    <img src="https://cdn2.lamag.com/wp-content/uploads/sites/6/2019/07/salt-and-straw.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image"  width="500" height="250">
  </header>
  <main>
    <%_ if (admin) { -%>
       <%- include('./browse'); -%>
      <%_ } else { -%>
       <%- include('./browse'); -%>
      <%_ } -%>
  </main>
</html>
