<!DOCTYPE html>
<html>
  <%- include('./head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('./navindex', {active: 'aboutus'}); -%>
  </body>
  <header>
    <img src="https://cdn2.lamag.com/wp-content/uploads/sites/6/2019/07/salt-and-straw.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image"  width="500" height="250">
  </header>
  <main>
    <h2 class="text-center"><u>Welcome to Sundae Fundae!</u></h2>
    <section class="m-5 text-center border border-light">
      <ul class = "list-group list-group-flush bg-info text-dark">
        <li class="list-group-item"> Sundae Fundae is all about creating, trying and discovering new ice cream flavors while also serving the classics that everyone loves. Our mission is to sell the finest quality ice cream with a commitment to using wholesome and natural ingredients that respect our environtment and Earth.</li>
        <li class="list-group-item"> We were founded on March 31st, 2020 by Josh, Dakota, and Cameron. We are determined to provide the most effective user interface on our newly designed website to make for a great customer experience.</li>
        <li class="list-group-item"> Please feel free to make any new flavor suggestions, description changes and store update or new locations by loging in.</li>
        <li class="list-group-item"> Prices: </li>
          <ul>
            Single scoop: $1.50
          </ul>
          <ul>
            Double scoop: $3.00
          </ul>
          <ul>
            Pint: $4.16
          </ul>
        </ul>
    </section>
  </main>
</html>
