<!DOCTYPE html>
<html>
  <%- include('./head'); -%>
  <body style="background-color:#BAE1FD">
    <%- include('./navindex', {active: 'aboutus'}); -%>
  </body>
  <header>
    <img src="https://cdn2.lamag.com/wp-content/uploads/sites/6/2019/07/salt-and-straw.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image"  width="500" height="250">
  </header>
  <main>
    <h2 class="text-center"><u>Welcome to Sundae Fundae!</u></h2>
    <section class="m-5 p-1 border border-dark">
      <ul class = "list-group list-group-flush text-center">
        <li class="list-group-item" style="background-color:#5DA1AF"> Sundae Fundae, founded on March 31st, 2020 by Josh, Dakota, and Cameron is a unique ice cream shop in the US. We are determined to provide the most effective user interface on our newly designed website to make for a great customer experience.</li>
        <li class="list-group-item" style="background-color:#5DA1AF"> Sundae Fundae is all about creating, trying and discovering new ice cream flavors while also serving the classics that everyone loves. Our mission is to sell the finest quality ice cream with a commitment to using wholesome and natural ingredients that respect our environment and Earth.</li>
        <li class="list-group-item" style="background-color:#5DA1AF"> Please feel free to make any new flavor suggestions, description changes, store updates or new locations by logging in.</li>
        <p style="background-color:#5DA1AF"><strong> Prices:</strong> </p>
      </ul>
      <div class="d-flex">
          <ul class="list-inline mx-auto justify-content-center">
            <li class="list-inline-item">Single scoop: $1.50</li>

            <li class="list-inline-item">Double scoop: $3.00</li>
            <li class="list-inline-item">Pint: $4.16</li>
          </ul>
    </section>
  </main>
</html>
