<!DOCTYPE html>
<html>
  <%- include('./head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('./navindex', {active: 'aboutus'}); -%>
  </body>
  <header>
    <img src="https://cdn2.lamag.com/wp-content/uploads/sites/6/2019/07/salt-and-straw.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image"  width="500" height="250">
  </header>
  <main>
    <h2 class="text-center">Welcome to Sundae Fundae!</h2>
    <p p=3> Sundae Fundae is all about creating fun and unique ice cream flavors and bringing them all across the US! </p>
    <p> Please feel free to make any new flavor suggestions, description changes and store update or new locations by loging in.</p>
    <p> Prices: </p>
      <ul>
        Single scoop: $1.50
      </ul>
      <ul>
        Double scoop: $3.00
      </ul>
      <ul>
        Pint: $4.16
      </ul>
  </main>
</html>
