<header class="navbar navbar-expand navbar-dark bg-dark text-light sticky-top"">
      <!--  <h1 class="navbar-brand">Fundea</h1>  -->
  <img class="icon" id="Sundae_Fundae.jpg" href="index.html">
  <nav class="navbar-nav ml-3">
    <a href="/aboutus" class="nav-item nav-link <%= (active === 'aboutus') ? 'active' : 'inactive' -%>">About Us</a>
    <a href="/icecreams" class="nav-item nav-link <%= (active === 'icecreams') ? 'active' : 'inactive' -%>">Ice Cream</a>
    <a href="/stores" class="nav-item nav-link <%= (active === 'stores') ? 'active' : 'inactive' -%>">Stores</a>
  </nav>
  <nav class="navbar-nav ml-auto">
      <%_ if (admin) { -%>
        <a href="/logout" class="nav-item nav-link">Logout</a>
      <%_ } else { -%>
        <a href="/login" class="nav-item nav-link">Login</a>
      <%_ } -%>
    </nav>
</header>
<script>
  const img = document.getElementById('Sundae_Fundae.jpg');
  img.src = 'http://' + location.hostname + ':3000/Sundae_Fundae.jpg';
</script>
