
<header class="navbar navbar-expand navbar-dark bg-dark text-light sticky-top"">
  <a href="index.html" class="navbar-brand">
    <img class="brand-img" src="">
  </a>
  <nav class="navbar-nav ml-3">
    <a href="index.html" class= "nav-item nav-link"> About Us </a>
    <a href="/icecreams" class="nav-item nav-link <%= (active === 'icecreams') ? 'active' : 'inactive' -%>">IceCream</a>
    <a href="/stores" class="nav-item nav-link <%= (active === 'stores') ? 'active' : 'inactive' -%>">Stores</a>
  </nav>
