<header class="navbar navbar-expand MINT text-light sticky-top"">
      <!--  <h1 class="navbar-brand">Fundea</h1>  -->
      <img src="views/Sundae Fundae 10.02.36 PM.png" width="40" height="40">
  <nav class="navbar-nav ml-3">
    <a href="index.html" class= "nav-item nav-link">About Us</a>
    <a href="/icecreams" class="nav-item nav-link <%= (active === 'icecreams') ? 'active' : 'inactive' -%>">Ice Cream</a>
    <a href="/stores" class="nav-item nav-link <%= (active === 'stores') ? 'active' : 'inactive' -%>">Stores</a>
  </nav>
</header>
