<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'icecreams'}); -%>
    <div class="container-fluid">
        <div class="col">
          <main class="p-3">
            <%_ for (const icecream of ) { -%>
            <h2><%= icecream.id) -%></h2>
            <p><%= icecream.description -%></p>
            <%_ } -%>
          </main>
    </div>
  </body>
</html>
