<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>


  $('#create').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/icecreams', data: form.serialize()})
      .done(id => window.location.replace(`/icecreams/${id}`))
      .fail(error => alert(error.responseText));
  });


  $('#update').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'put', url: '/icecreams/<%= icecream.id -%>', data: form.serialize()})
      .fail(error => alert(error.responseText));
  });


  $('#delete').on('click', function(event) {
    event.preventDefault();
    $.ajax({method: 'delete', url: '/icecreams/<%= icecream.id -%>'})
      .done(() => window.location.replace('/icecreams'))
      .fail(error => alert(error.responseText));
  });

  $('#add_filling').on('click', function(event){
      event.preventDefault();
      $('#Fillings').append(`
      <div>
        <input type="text" name="fillings" placeholder="" value="" class="form-control form-control-lg font-weight-bold mb-1">
        <button class="bg-warning mb-3">Delete Filling</button>
      </div>`)
  });

  $('#Fillings').on('click','button', function(event){
      event.preventDefault();
      $(this).closest('div').remove();
    });

    $('#add_flavor').on('click', function(event){
        event.preventDefault();
        $('#Flavors').append(`
        <div>
          <input type="text" name="flavors" placeholder="" value="" class="form-control form-control-lg font-weight-bold mb-1">
          <button class="bg-warning mb-3">Delete Falvor</button>
        </div>`)
    });

    $('#Flavors').on('click','button', function(event){
        event.preventDefault();
        $(this).closest('div').remove();
      });


</script>
