<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  // Highlight changes in form inputs
  $(document).on('input', '.form-control', function(event) {
    $(this).addClass('bg-dark text-white');
  });

  $('#create').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/icecreams', data: form.serialize()})
      .done(id => window.location.replace(`/icecreams/${id}`))
      .fail(error => alert(error.responseText));
  });


  $('#update').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'put', url: '/icecreams/<%= icecream.id -%>', data: form.serialize()})
      .fail(error => alert(error.responseText));
  });


  $('#delete').on('click', function(event) {
    event.preventDefault();
    if (confirm('Delete all traces of this ice cream from project-camdakotajosh?')) {
      $.ajax({method: 'delete', url: '/icecreams/<%= icecream.id -%>'})
        .done(() => window.location.replace('/icecreams'))
        .fail(error => alert(error.responseText));
    }
  });

  $('#add_filling').on('click', function(event){
      event.preventDefault();
      $('#Fillings').append(`

        <div>
          <input type="text" name="fillings" placeholder="" value="" class="form-control form-control-lg font-weight-bold mb-1">
          <span class="input-group-btn">
            <button class=" btn btn-warning mb-3">Delete Filling</button>
          </span>
        </div>`)

  });

  $('#Fillings').on('click','button', function(event){
      event.preventDefault();
      $(this).closest('div').remove();
    });

    $('#add_flavor').on('click', function(event){
        event.preventDefault();
        $('#Flavors').append(`
        <div class="input-group mb-3">
          <input type="text" name="flavors" placeholder="" value="" class="form-control form-control-lg font-weight-bold mb-1">
          <span class="input-group-btn">
            <button class="btn-warning btn mb-3">Delete Falvor</button>
          </span>
        </div>`)
    });

    $('#Flavors').on('click','button', function(event){
        event.preventDefault();
        $(this).closest('div').remove();
      });


</script>
