<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'about'}); -%>

    <main class="p-3">
      <h2> Welcome to our ice cream shop! </h2>
    </main>
    </body>
</html>
