<!DOCTYPE html>
<html>

  <%- include('../head'); -%>
  <body style="background-color:#5DA1AF">
    <%- include('../navbar', {active: 'aboutus'}); -%>
    <%- include('header'); -%>
      <main class="col-md-4">
          <h2> hi </h2>
      </main>
  </body>

</html>
